<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="A lynda.com example of HTML5 and CSS3">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
</head>
<body id="home">
    <main role="main" class="mb-3">
        @RenderBody()
    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>&copy; 2018 Explore California</p>
        </div>
    </footer>

    <script src="https://unpkg.com/@@microsoft/signalr@5.0.5/dist/browser/signalr.js" integrity="sha384-T/F8Kx5xJBQsay07/bwisNdw9lNDLiA4sDIFIE3/r08Zo7GeGIAz/EEHhdXByYGZ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
